_build
.local
benchmarks/data
benchmarks/plots
benchmarks/__pycache__
build
/liboqs*
/openssl*
/certs*
/qkd_certs*
/qkd_certs/qukaydee-generate-client-certificates*
liboqs/_build
benchmarks/__pycache__/*.pyc
scripts/__pycache__/*.pyc


