_build
.local
.vscode
.venv
.qodo
benchmarks/data
benchmarks/plots
benchmarks/__pycache__
build
/liboqs*
/openssl*
/certs*
/qkd_certs*
/qkd_certs/qukaydee-generate-client-certificates*
liboqs/_build
benchmarks/__pycache__/*.pyc
scripts/__pycache__/*.pyc
test/test_oqs_qkd_etsi_wrapper.c
qkd_certs
*.crt
*.key
*.pem
debug_logs


